nodered/flows.json
[{"id": "d15cda5bbc79a153", "type": "tab", "label": "Flow 1", "disabled": false, "info": "", "env": []}, {"id": "f8fcc2eca1886938", "type": "tab", "label": "Main", "disabled": false, "info": "", "env": []}, {"id": "900938edd3809de9", "type": "tab", "label": "MQTT FLow", "disabled": false, "info": "", "env": []}, {"id": "d2c1c437030fcf3d", "type": "tab", "label": "Beslutning", "disabled": false, "info": "", "env": []}, {"id": "77c2a9230595fbfa", "type": "tab", "label": "InfluxDB", "disabled": false, "info": "", "env": []}, {"id": "ced8b8b6adb174ea", "type": "tab", "label": "Diverse", "disabled": false, "info": "", "env": []}, {"id": "0700ed4de89194aa", "type": "mqtt-broker", "name": "SolarAssitance MQTT Broker", "broker": "192.168.1.213", "port": 1883, "clientid": "nodered", "autoConnect": true, "usetls": false, "protocolVersion": 4, "keepalive": 60, "cleansession": true, "autoUnsubscribe": true, "birthTopic": "", "birthQos": "0", "birthRetain": "false", "birthPayload": "", "birthMsg": {}, "closeTopic": "", "closeQos": "0", "closeRetain": "false", "closePayload": "", "closeMsg": {}, "willTopic": "", "willQos": "0", "willRetain": "false", "willPayload": "", "willMsg": {}, "userProps": "", "sessionExpiry": ""}, {"id": "2d85c8fe0ce263c3", "type": "influxdb", "hostname": "127.0.0.1", "port": 8086, "protocol": "http", "database": "database", "name": "InfluxDB Energi", "usetls": false, "tls": "", "influxdbVersion": "2.0", "url": "http://192.168.1.253:8086", "timeout": 10, "rejectUnauthorized": true}, {"id": "9e92b4d82de87a51", "type": "mqtt-broker", "name": "Teslamate", "broker": "192.168.1.253", "port": 1883, "clientid": "", "autoConnect": true, "usetls": false, "protocolVersion": 4, "keepalive": 60, "cleansession": true, "autoUnsubscribe": true, "birthTopic": "", "birthQos": "0", "birthRetain": "false", "birthPayload": "", "birthMsg": {}, "closeTopic": "", "closeQos": "0", "closeRetain": "false", "closePayload": "", "closeMsg": {}, "willTopic": "", "willQos": "0", "willRetain": "false", "willPayload": "", "willMsg": {}, "userProps": "", "sessionExpiry": ""}, {"id": "8679af34499a293a", "type": "mqtt in", "z": "d15cda5bbc79a153", "name": "", "topic": "solar_assistant/#", "qos": "2", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": true, "rh": 0, "inputs": 0, "x": 160, "y": 260, "wires": [["62c4e120a41dc065"]]}, {"id": "62c4e120a41dc065", "type": "debug", "z": "d15cda5bbc79a153", "name": "debug 1", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 460, "y": 300, "wires": []}, {"id": "inject-priser", "type": "inject", "z": "f8fcc2eca1886938", "name": "Hent priser kl 13:00", "props": [{"p": "payload"}], "repeat": "3600", "crontab": "", "once": true, "onceDelay": 3, "topic": "", "payload": "", "payloadType": "date", "x": 140, "y": 160, "wires": [["8ab9b4e3c8873943"]]}, {"id": "beregn-zoner", "type": "function", "z": "f8fcc2eca1886938", "name": "Beregn pris-zoner", "func": "// Tjek for API fejl eller tom data\nif (msg.payload.statusCode) {\n    node.warn(`\u26a0\ufe0f API fejl: ${msg.payload.message}`);\n    return null;\n}\n\nconst records = Array.isArray(msg.payload) ? msg.payload : msg.payload.records;\n\nif (!records || records.length === 0) {\n    node.warn('\u26a0\ufe0f Tom data modtaget - sandsynligvis i morgens priser ikke klar endnu');\n    return null;\n}\n\n// Ryd gammel cache hvis den ikke har spotpris felt\nconst eksisterendeCheck = global.get('priser_raw') || [];\nif (eksisterendeCheck.length > 0 && !eksisterendeCheck[0].spotpris) {\n    global.set('priser_raw', []);\n    node.warn('\ud83d\udd04 Rydder gammel priscache - opdaterer med afgifter');\n}\n\n// Afgifter baseret p\u00e5 tidspunkt (Radius C zone)\nconst getFastTill\u00e6g = (hour) => {\n    if (hour >= 0 && hour < 6)   return 0.287;\n    if (hour >= 6 && hour < 17)  return 0.353;\n    if (hour >= 17 && hour < 21) return 0.672;\n    return 0.353;\n};\n\n// Konverter til DKK/kWh inkl. afgifter\nconst nyePriser = records.map(r => {\n    const hour = new Date(r.time_start).getHours();\n    const spotpris = parseFloat(r.DKK_per_kWh.toFixed(4));\n    const realPris = parseFloat((spotpris + getFastTill\u00e6g(hour)).toFixed(4));\n    return {\n        time: r.time_start,\n        pris: realPris,\n        spotpris: spotpris,\n        hour: hour\n    };\n});\n\n// Merge med eksisterende priser (behold begge dage)\nconst eksisterende = global.get('priser_raw') || [];\n\n// Fjern dubletter baseret p\u00e5 time\nconst merged = [...eksisterende];\nnyePriser.forEach(ny => {\n    const findes = merged.find(e => e.time === ny.time);\n    if (!findes) merged.push(ny);\n});\n\n// Sorter efter tid\nmerged.sort((a, b) => new Date(a.time).getTime() - new Date(b.time).getTime());\n\n// Gem r\u00e5data til n\u00e6ste merge\nglobal.set('priser_raw', merged);\n\nnode.warn(`\ud83d\udce6 R\u00e5data: ${merged.length} timer total`);\n\n// Dynamiske zoner baseret p\u00e5 alle kendte priser\nconst sorteret = [...merged].sort((a, b) => a.pris - b.pris);\nconst antalTimer = sorteret.length;\nconst billigGraense = sorteret[Math.floor(antalTimer / 3)].pris;\nconst dyrGraense = sorteret[Math.floor(antalTimer * 2 / 3)].pris;\n\nconst markeretPriser = merged.map(p => ({\n    ...p,\n    zone: p.pris <= billigGraense ? 'billig' : p.pris >= dyrGraense ? 'dyr' : 'normal'\n}));\n\n// Find nuv\u00e6rende time\nconst nu = new Date();\nconst nuvaerende = markeretPriser.find(p => {\n    const t = new Date(p.time);\n    return t.getHours() === nu.getHours() &&\n           t.getDate() === nu.getDate() &&\n           t.getMonth() === nu.getMonth();\n});\n\nif (!nuvaerende) {\n    node.warn(`\u26a0\ufe0f Ingen pris for nuv\u00e6rende time`);\n}\n\n// Tjek om vi har nattetimer\nconst harNatTimer = markeretPriser.some(p => {\n    const t = new Date(p.time);\n    return t > nu && t.getDate() !== nu.getDate() && t.getHours() < 6;\n});\n\n// Gem globalt\nglobal.set('priser', markeretPriser);\nglobal.set('billigGraense', billigGraense);\nglobal.set('dyrGraense', dyrGraense);\nglobal.set('nuvaerende', nuvaerende);\nglobal.set('har_nok_prisdata', harNatTimer);\n\nnode.warn(`\u2705 Priser: ${markeretPriser.length} timer | Nat: ${harNatTimer ? '\u2705' : '\u23f3 venter'}`);\nnode.warn(`\ud83d\udc9a Billig < ${billigGraense} kr/kWh`);\nnode.warn(`\u2764\ufe0f Dyr > ${dyrGraense} kr/kWh`);\nif (nuvaerende) {\n    node.warn(`\u26a1 Nu: ${nuvaerende.pris} kr/kWh (spot: ${nuvaerende.spotpris}) - ${nuvaerende.zone.toUpperCase()}`);\n}\n\nmsg.payload = { priser: markeretPriser, billigGraense, dyrGraense, nuvaerende, harNatTimer };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 810, "y": 100, "wires": [["debug-priser", "gem-influxdb"]]}, {"id": "debug-priser", "type": "debug", "z": "f8fcc2eca1886938", "name": "Vis priser", "active": true, "tosidebar": true, "x": 1080, "y": 120, "wires": []}, {"id": "gem-influxdb", "type": "debug", "z": "f8fcc2eca1886938", "name": "\u2192 InfluxDB (kommer snart)", "active": false, "tosidebar": true, "x": 1140, "y": 220, "wires": []}, {"id": "c6e3748f632ca8c5", "type": "function", "z": "f8fcc2eca1886938", "name": "Byg API URL", "func": "const nu = new Date();\nconst \u00e5r = nu.getFullYear();\nconst m\u00e5ned = String(nu.getMonth() + 1).padStart(2, '0');\nconst dag = String(nu.getDate()).padStart(2, '0');\n\nconst imorgen = new Date(nu);\nimorgen.setDate(imorgen.getDate() + 1);\nconst imorgeM\u00e5ned = String(imorgen.getMonth() + 1).padStart(2, '0');\nconst imorgenDag = String(imorgen.getDate()).padStart(2, '0');\n\nnode.warn(`Henter priser for: ${dag}/${m\u00e5ned} og ${imorgenDag}/${imorgeM\u00e5ned}`);\n\n// Send to beskeder - \u00e9n for hver dag\nconst msg2 = { ...msg };\nmsg.url = `https://www.elprisenligenu.dk/api/v1/prices/${\u00e5r}/${m\u00e5ned}-${dag}_DK1.json`;\nmsg.dag = 'idag';\nmsg2.url = `https://www.elprisenligenu.dk/api/v1/prices/${\u00e5r}/${imorgeM\u00e5ned}-${imorgenDag}_DK1.json`;\nmsg2.dag = 'imorgen';\n\nreturn [msg, msg2];", "outputs": 2, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 350, "y": 100, "wires": [["2192ee2761c874e0"], ["2192ee2761c874e0"]]}, {"id": "8ab9b4e3c8873943", "type": "function", "z": "f8fcc2eca1886938", "name": "Tjek prisdata", "func": "const nu = new Date();\nconst eksisterendePriser = global.get('priser') || [];\n\n// Find gyldige fremtidige ladetimer (16:00 i dag \u2192 06:00 i morgen)\nconst gyldigeLadeTimer = eksisterendePriser.filter(p => {\n    const t = new Date(p.time);\n    if (t <= nu) return false;\n    const erAftenIdag = t.getDate() === nu.getDate() && t.getHours() >= 16;\n    const erNatImorgen = t.getDate() !== nu.getDate() && t.getHours() < 6;\n    return erAftenIdag || erNatImorgen;\n});\n\n// Har vi nattetimer (00:00-06:00 i morgen)?\nconst harNatTimer = gyldigeLadeTimer.some(p => {\n    const t = new Date(p.time);\n    return t.getDate() !== nu.getDate() && t.getHours() < 6;\n});\n\n// Har vi aftentimer (16:00-23:59 i dag)?\nconst harAftenTimer = gyldigeLadeTimer.some(p => {\n    const t = new Date(p.time);\n    return t.getDate() === nu.getDate() && t.getHours() >= 16;\n});\n\nnode.warn(`\ud83d\udcca Ladetimer: ${gyldigeLadeTimer.length} | Aften: ${harAftenTimer ? '\u2705' : '\u274c'} | Nat: ${harNatTimer ? '\u2705' : '\u274c'}`);\n\n// Vi har komplet data hvis vi har B\u00c5DE aften og nattetimer\nif (gyldigeLadeTimer.length >= 14 && harAftenTimer && harNatTimer) {\n    node.warn('\u2705 Prisdata komplet - ingen API kald n\u00f8dvendigt');\n    global.set('har_nok_prisdata', true);\n    return null; // Stop her!\n}\n\nnode.warn('\u26a0\ufe0f Mangler prisdata - henter fra API');\nglobal.set('har_nok_prisdata', false);\nreturn msg; // Forts\u00e6t til API hentning", "outputs": 1, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 390, "y": 260, "wires": [["c6e3748f632ca8c5"]]}, {"id": "2192ee2761c874e0", "type": "http request", "z": "f8fcc2eca1886938", "name": "Hent Elpriser", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 570, "y": 100, "wires": [["beregn-zoner"]]}, {"id": "naeste-begivenhed-api", "type": "http in", "z": "f8fcc2eca1886938", "name": "N\u00e6ste begivenhed", "url": "/api/begivenheder", "method": "get", "upload": false, "skipBodyParsing": false, "swaggerDoc": "", "x": 190, "y": 380, "wires": [["naeste-begivenhed-handler"]]}, {"id": "naeste-begivenhed-handler", "type": "function", "z": "f8fcc2eca1886938", "name": "Byg begivenheder", "func": "const nu = new Date();\nconst time = nu.getHours();\nconst min = nu.getMinutes();\nconst soc = global.get('batteri_soc') || 0;\n\n// Beregn n\u00e6ste begivenhed\nlet naeste = [];\n\n// N\u00e6ste discharge skift\nif (time >= 6 && time < 16) {\n    const diff = 16 - time;\n    naeste.push({ \n        tid: '16:00', \n        besked: '\ud83d\udd0b Dyre timer starter - discharge 100%', \n        minutter: diff * 60 - min \n    });\n} else if (time >= 16 && time < 22) {\n    const diff = 22 - time;\n    naeste.push({ \n        tid: '22:00', \n        besked: '\ud83c\udf19 Nat - discharge 100% forts\u00e6tter til 06:00', \n        minutter: diff * 60 - min \n    });\n} else {\n    // Nat 22-06\n    const minutterTil06 = time >= 22 \n        ? (24 - time + 6) * 60 - min \n        : (6 - time) * 60 - min;\n    naeste.push({ \n        tid: '06:00', \n        besked: '\u2600\ufe0f Dag mode - discharge 0% (sol lader batteri)', \n        minutter: minutterTil06\n    });\n}\n\n// Batteri advarsel\nif (soc <= 15) {\n    naeste.unshift({ \n        tid: 'NU', \n        besked: `\u26a0\ufe0f Batteri lavt (${soc}%) - stopper afladning ved 10%`, \n        minutter: 0 \n    });\n}\n\n// Tesla ladning\nconst priser = global.get('priser') || [];\nconst carSoc = global.get('car_soc') || 50;\nconst goECar = global.get('go_e_car') || 1;\n\nif (goECar > 1) {\n    const kommende = priser.filter(p => {\n        const t = new Date(p.time);\n        const h = t.getHours();\n        const erSenAften = t.getDate() === nu.getDate() && h >= 21;\n        const erNat = t.getDate() !== nu.getDate() && h < 6;\n        return (erSenAften || erNat) && t > nu;\n    }).sort((a, b) => a.pris - b.pris);\n\n    if (kommende.length > 0) {\n        const kwhMangler = Math.max(0, (100 - carSoc) * 0.60);\n        const timerNodvendige = Math.ceil(kwhMangler / 11);\n        const billigste = kommende.slice(0, timerNodvendige)\n            .sort((a, b) => new Date(a.time).getTime() - new Date(b.time).getTime());\n        if (billigste.length > 0) {\n            const startTid = new Date(billigste[0].time);\n            const fmt = (d) => d.toLocaleTimeString('da-DK', { hour: '2-digit', minute: '2-digit' });\n            naeste.push({ \n                tid: fmt(startTid), \n                besked: `\ud83d\ude97 Tesla starter ladning (${carSoc}% \u2192 100%)`, \n                minutter: Math.round((startTid.getTime() - nu.getTime()) / 60000) \n            });\n        }\n    }\n}\n\n// Sidst udf\u00f8rt\nconst sidst = [\n    { \n        tid: nu.toLocaleTimeString('da-DK', { hour: '2-digit', minute: '2-digit' }), \n        besked: `\u26a1 Discharge: ${global.get('discharge_rate') || 0}% | Mode: ${global.get('growatt_kommando') || 'Load first'} | Batteri: ${soc}%` \n    },\n];\n\nmsg.payload = { naeste, sidst };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 440, "y": 380, "wires": [["naeste-begivenhed-svar"]]}, {"id": "naeste-begivenhed-svar", "type": "http response", "z": "f8fcc2eca1886938", "name": "Begivenhed svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 690, "y": 380, "wires": []}, {"id": "hent-vejr", "type": "http request", "z": "f8fcc2eca1886938", "name": "Hent vejr", "method": "GET", "ret": "obj", "url": "https://api.openweathermap.org/data/2.5/forecast?lat=55.48375&lon=9.299174&appid=1908e24a2653afbea4a5cb4b403385e6&units=metric&lang=da&cnt=8", "x": 200, "y": 520, "wires": [["gem-vejr"]]}, {"id": "gem-vejr", "type": "function", "z": "f8fcc2eca1886938", "name": "Gem vejr data", "func": "const list = msg.payload.list || [];\nconst dagensTimer = list.slice(0, 4);\n\nconst maxTemp = Math.max(...dagensTimer.map(t => t.main.temp_max));\nconst minTemp = Math.min(...dagensTimer.map(t => t.main.temp_min));\nconst vejrTekst = dagensTimer[0]?.weather[0]?.description || 'ukendt';\nconst skyer = Math.round(dagensTimer.reduce((sum, t) => sum + t.clouds.all, 0) / dagensTimer.length);\nconst solPotentiale = skyer < 30 ? '\u2600\ufe0f H\u00f8jt solpotentiale' : skyer < 70 ? '\u26c5 Moderat solpotentiale' : '\u2601\ufe0f Lavt solpotentiale';\n\nglobal.set('vejr_temp_max', Math.round(maxTemp));\nglobal.set('vejr_temp_min', Math.round(minTemp));\nglobal.set('vejr_tekst', vejrTekst);\nglobal.set('vejr_skyer', skyer);\nglobal.set('vejr_sol_potentiale', solPotentiale);\n\nnode.warn(`\ud83c\udf24\ufe0f Vejr Lunderskov: ${vejrTekst}, ${Math.round(minTemp)}-${Math.round(maxTemp)}\u00b0C, ${skyer}% skyer`);\nreturn null;", "outputs": 1, "x": 450, "y": 520, "wires": [[]]}, {"id": "vejr-timer", "type": "inject", "z": "f8fcc2eca1886938", "name": "Hent vejr kl 05:50", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "50 05 * * *", "once": true, "onceDelay": 10, "topic": "", "payload": "", "payloadType": "str", "x": 200, "y": 570, "wires": [["hent-vejr"]]}, {"id": "mqtt-batteri", "type": "mqtt in", "z": "900938edd3809de9", "name": "Batteri %", "topic": "solar_assistant/total/battery_state_of_charge/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 140, "y": 120, "wires": [["gem-batteri"]]}, {"id": "mqtt-batteri-power", "type": "mqtt in", "z": "900938edd3809de9", "name": "Batteri effekt", "topic": "solar_assistant/total/battery_power/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 140, "y": 180, "wires": [["gem-batteri-power"]]}, {"id": "mqtt-sol", "type": "mqtt in", "z": "900938edd3809de9", "name": "Sol effekt", "topic": "solar_assistant/inverter_1/pv_power/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 140, "y": 240, "wires": [["gem-sol"]]}, {"id": "mqtt-net", "type": "mqtt in", "z": "900938edd3809de9", "name": "Net effekt", "topic": "solar_assistant/inverter_1/grid_power/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 140, "y": 300, "wires": [["gem-net"]]}, {"id": "mqtt-temp", "type": "mqtt in", "z": "900938edd3809de9", "name": "Batteri temp", "topic": "solar_assistant/total/battery_temperature/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 140, "y": 360, "wires": [["gem-temp"]]}, {"id": "gem-batteri", "type": "function", "z": "900938edd3809de9", "name": "Gem batteri %", "func": "const val = parseFloat(msg.payload);\nglobal.set('batteri_soc', val);\nmsg.payload = val;\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 390, "y": 120, "wires": [["debug-growatt"]]}, {"id": "gem-batteri-power", "type": "function", "z": "900938edd3809de9", "name": "Gem batteri effekt", "func": "const val = parseFloat(msg.payload);\nglobal.set('batteri_power', val);\nmsg.payload = val;\nreturn msg;", "outputs": 1, "x": 390, "y": 180, "wires": [["debug-growatt"]]}, {"id": "gem-sol", "type": "function", "z": "900938edd3809de9", "name": "Gem sol", "func": "const val = parseFloat(msg.payload);\nglobal.set('sol_power', val);\nmsg.payload = val;\nreturn msg;", "outputs": 1, "x": 390, "y": 240, "wires": [["debug-growatt"]]}, {"id": "gem-net", "type": "function", "z": "900938edd3809de9", "name": "Gem net", "func": "const val = parseFloat(msg.payload);\nglobal.set('grid_power', val);\nmsg.payload = val;\nreturn msg;", "outputs": 1, "x": 390, "y": 300, "wires": [["debug-growatt"]]}, {"id": "gem-temp", "type": "function", "z": "900938edd3809de9", "name": "Gem temp", "func": "const val = parseFloat(msg.payload);\nglobal.set('batteri_temp', val);\nmsg.payload = val;\nreturn msg;", "outputs": 1, "x": 390, "y": 360, "wires": [["debug-growatt"]]}, {"id": "debug-growatt", "type": "debug", "z": "900938edd3809de9", "name": "Growatt debug", "active": false, "tosidebar": true, "x": 640, "y": 120, "wires": []}, {"id": "beslutning-timer", "type": "inject", "z": "d2c1c437030fcf3d", "name": "K\u00f8r hvert 5. minut", "repeat": "300", "crontab": "", "once": true, "onceDelay": 5, "topic": "", "payload": "", "payloadType": "date", "x": 130, "y": 60, "wires": [["beslutnings-motor"]]}, {"id": "beslutnings-motor", "type": "function", "z": "d2c1c437030fcf3d", "name": "Beslutnings-motor", "func": "// Tjek override F\u00d8RST - k\u00f8rer indtil manuelt stop\nconst overrideAktiv = global.get('override_aktiv') || false;\n\nif (overrideAktiv) {\n    const soc = global.get('batteri_soc') || 0;\n    const sol = global.get('sol_power') || 0;\n    const grid = global.get('grid_power') || 0;\n    node.warn(`\ud83d\udea8 OVERRIDE AKTIV! Tvinger Tesla ladning til 16A`);\n    msg.payload = {\n        growattMode: 'load_first',\n        teslaLad: true,\n        teslaAmp: 16,\n        soc, sol, grid,\n        pris: 0,\n        zone: 'override',\n        beslutning: ['\ud83d\udea8 MANUEL OVERRIDE AKTIV']\n    };\n    return msg;\n}\n\n// Hent aktuelle v\u00e6rdier\nconst soc = global.get('batteri_soc') || 0;\nconst sol = global.get('sol_power') || 0;\nconst grid = global.get('grid_power') || 0;\nconst batteriPower = global.get('batteri_power') || 0;\nconst temp = global.get('batteri_temp') || 0;\nconst nuvaerende = global.get('nuvaerende');\nconst priser = global.get('priser') || [];\nconst loadPower = global.get('load_power') || 0;\n\nif (!nuvaerende) {\n    node.warn('\u26a0\ufe0f Ingen prisdata endnu - afventer');\n    return null;\n}\n\n// Batteri gr\u00e6nser\nconst GROWATT_MIN_SOC = 10;\nconst GROWATT_AFLAD_MIN = 50;\nconst TESLA_MAL = 100;\nconst TESLA_KWH = 60;\nconst TESLA_MAX_KW = 11;\nconst SOL_GRAENSE = 200;\nconst TESLA_MIN_OVERSKUD = 1200;\nconst DEADLINE_TIME = 6; // Bilen skal v\u00e6re klar kl. 06:00 hver dag\n\nconst pris = nuvaerende.pris;\nconst zone = nuvaerende.zone;\nconst nu = new Date();\nconst time = nu.getHours();\nconst erDyrAften = time >= 16 && time < 21;\nconst erSol = sol > SOL_GRAENSE;\n\n// Sol overskud efter husforbrug\nconst solEfterHus = sol - loadPower;\nconst erSolOverskud = solEfterHus > TESLA_MIN_OVERSKUD;\n\n// Bilens behov\nconst carSoc = global.get('car_soc') || 50;\nconst goECar = global.get('go_e_car') || 1;\nconst bilTilsluttet = goECar > 1;\nconst manglerKwh = Math.max(0, (TESLA_MAL - carSoc) * (TESLA_KWH / 100));\nconst timerNodvendige = Math.ceil(manglerKwh / TESLA_MAX_KW);\n\n// Beregn deadline-tidspunkt (n\u00e6ste forekomst af DEADLINE_TIME)\nconst deadline = new Date(nu);\ndeadline.setHours(DEADLINE_TIME, 0, 0, 0);\nif (deadline <= nu) {\n    deadline.setDate(deadline.getDate() + 1);\n}\n\n// Find alle kommende prispunkter FREM TIL deadline\nconst kommendeTilDeadline = priser.filter(p => {\n    const t = new Date(p.time);\n    return t > nu && t <= deadline;\n});\n\n// V\u00e6lg de N billigste timer ud af dem, hvor N = timerNodvendige (mindst 1 hvis bilen mangler noget)\nconst billigsteTimer = [...kommendeTilDeadline]\n    .sort((a, b) => a.pris - b.pris)\n    .slice(0, Math.max(timerNodvendige, 1))\n    .map(p => new Date(p.time).getHours());\n\nconst erBilligTeslaTime = billigsteTimer.includes(time);\n\n// Tving Tesla hvis vi er inde i den udvalgte ladeperiode og t\u00e6t p\u00e5 deadline\n// (sikkerhedsnet hvis prislogikken af en grund ikke rammer rigtigt)\nconst timerTilDeadline = (deadline.getTime() - nu.getTime()) / (1000 * 60 * 60);\nconst maxKwhResterende = timerTilDeadline * TESLA_MAX_KW;\nlet tvingTesla = false;\nif (bilTilsluttet && maxKwhResterende < manglerKwh && manglerKwh > 0) {\n    tvingTesla = true;\n    node.warn(`\u26a0\ufe0f Tesla kan ikke n\u00e5 ${TESLA_MAL}% f\u00f8r ${DEADLINE_TIME}:00! Mangler ${manglerKwh.toFixed(1)} kWh, kun ${maxKwhResterende.toFixed(1)} kWh tid tilbage`);\n}\n\n// BESLUTNINGER\nlet growattMode = 'load_first'; // DEFAULT altid load first\nlet dischargeMode = 'normal';   // normal = kun aflade hvis dyr tid\nlet teslaLad = false;\nlet teslaAmp = 0;\nlet beslutning = [];\n\n// REGEL 1: Dyre aftentimer \u2192 Load first + afladning tilladt\nif (erDyrAften) {\n    growattMode = 'load_first';\n    dischargeMode = 'aktiv';\n    beslutning.push(`\u2764\ufe0f DYR AFTENTID (${pris} kr) \u2192 Load first | Batteri + sol d\u00e6kker huset`);\n    teslaLad = false;\n}\n\n// REGEL 2: Sol til stede \u2192 Load first\nelse if (erSol) {\n    growattMode = 'load_first';\n    dischargeMode = 'stop';\n    beslutning.push(`\u2600\ufe0f Sol (${sol}W) \u2192 Load first | Hus: ${loadPower}W | Overskud: ${solEfterHus}W`);\n}\n\n// REGEL 3: Billig time \u2192 Load first + lad Tesla mod deadline, uanset Growatt SOC\nelse if (zone === 'billig') {\n    growattMode = 'load_first';\n    dischargeMode = 'stop';\n    beslutning.push(`\ud83d\udc9a BILLIG TIME (${pris} kr) \u2192 Load first`);\n\n    if (bilTilsluttet && carSoc < 100 && erBilligTeslaTime) {\n        teslaLad = true;\n        teslaAmp = 16;\n        beslutning.push(`\ud83d\ude97 Tesla lader mod deadline ${DEADLINE_TIME}:00 (${pris} kr/kWh, ${carSoc}% \u2192 100%, mangler ${manglerKwh.toFixed(1)} kWh)`);\n    } else if (bilTilsluttet && carSoc >= 100) {\n        beslutning.push(`\ud83d\ude97 Tesla allerede fuldt opladet (${carSoc}%)`);\n    } else if (!bilTilsluttet) {\n        beslutning.push(`\ud83d\ude97 Tesla ikke tilsluttet - springer billig nat-ladning over`);\n    }\n}\n\n// REGEL 4: Normal time \u2192 Load first\nelse {\n    growattMode = 'load_first';\n    dischargeMode = 'stop';\n    beslutning.push(`\ud83d\udfe1 NORMAL TIME (${pris} kr) \u2192 Load first`);\n}\n\n// REGEL 5: Sol overskud \u2192 lad Tesla (kun hvis Growatt 100%)\nif (erSolOverskud && soc >= 100) {\n    const teslaAmpBeregnet = Math.floor(solEfterHus / 230);\n    if (teslaAmpBeregnet >= 6) {\n        teslaLad = true;\n        teslaAmp = Math.min(16, teslaAmpBeregnet);\n        beslutning.push(`\u2600\ufe0f Growatt 100% + Sol overskud ${solEfterHus}W \u2192 Tesla ${teslaAmp}A`);\n    } else {\n        beslutning.push(`\u2600\ufe0f Sol overskud ${solEfterHus}W \u2192 For lidt til Tesla (min 6A = 1380W)`);\n    }\n} else if (erSol && soc < 100) {\n    beslutning.push(`\ud83d\udd0b Growatt ${soc}% \u2192 Sol lader batteri f\u00f8rst, Tesla venter`);\n}\n\n// REGEL 6: Tving Tesla hvis deadline er i fare - t\u00e6ller over ALLE dage, ikke kun hverdage\nif (tvingTesla) {\n    teslaLad = true;\n    teslaAmp = 16;\n    beslutning.push(`\ud83d\udea8 DEADLINE ${DEADLINE_TIME}:00! Tesla tvinges til 16A`);\n}\n\n// REGEL 7: Batteri for varm \u2192 advar\nif (temp > 45) {\n    beslutning.push(`\ud83c\udf21\ufe0f Growatt batteri for varm (${temp}\u00b0C)!`);\n}\n\n// Gem beslutning globalt\nglobal.set('growatt_mode', growattMode);\nglobal.set('discharge_mode', dischargeMode);\nglobal.set('tesla_lad', teslaLad);\nglobal.set('tesla_amp', teslaAmp);\n\nnode.warn(`\ud83d\udcca Growatt: ${soc}% | Sol: ${sol}W | Hus: ${loadPower}W | Overskud: ${solEfterHus}W | Net: ${grid}W | Pris: ${pris} kr (${zone}) | Bil: ${carSoc}% (mangler ${manglerKwh.toFixed(1)} kWh, behov ${timerNodvendige}h) | ${erDyrAften ? '\ud83d\udd34 DYR AFTEN' : erSol ? '\u2600\ufe0f SOL' : '\ud83c\udf19 NAT'}`);\nbeslutning.forEach(b => node.warn(b));\n\nmsg.payload = { growattMode, teslaLad, teslaAmp, soc, sol, grid, pris, zone, beslutning };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 150, "y": 160, "wires": [["udf\u00f8r-tesla", "growatt-styring"]]}, {"id": "udf\u00f8r-tesla", "type": "function", "z": "d2c1c437030fcf3d", "name": "Styr go-e lader", "func": "const teslaLad = msg.payload.teslaLad;\nconst teslaAmp = msg.payload.teslaAmp;\n\nif (teslaLad) {\n    msg.url = `http://192.168.1.222/api/set?frc=2&amp=${teslaAmp}`;\n    node.warn(`\ud83d\ude97 go-e: Lader ${teslaAmp}A`);\n} else {\n    msg.url = `http://192.168.1.222/api/set?frc=1`;\n    node.warn(`\ud83d\ude97 go-e: STOP ladning`);\n}\n\nreturn msg;", "outputs": 2, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 380, "y": 120, "wires": [["go-e-http"], ["gem-event"]]}, {"id": "go-e-http", "type": "http request", "z": "d2c1c437030fcf3d", "name": "go-e API", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 620, "y": 60, "wires": [[]]}, {"id": "growatt-styring", "type": "function", "z": "d2c1c437030fcf3d", "name": "Growatt kommando", "func": "const GROWATT_MIN_SOC = 10;\nconst growattMode = msg.payload.growattMode;\nconst soc = msg.payload.soc;\nconst time = new Date().getHours();\n\n// ALTID Load first\nconst workMode = 'Load first';\n\n// Discharge logik\nlet dischargeRate = 0;\nlet dischargeAarsag = '';\n\nif (soc <= GROWATT_MIN_SOC) {\n    dischargeRate = 0;\n    dischargeAarsag = `Batteri for lavt (${soc}%)`;\n    node.warn(`\ud83d\udd0b Batteri for lavt (${soc}%) \u2192 Ingen afladning`);\n} else if (time >= 6 && time < 16) {\n    dischargeRate = 0;\n    dischargeAarsag = `Dag mode (${time}:00)`;\n    node.warn(`\u2600\ufe0f Dag (06-16) \u2192 Spar batteri, sol lader`);\n} else {\n    dischargeRate = 100;\n    dischargeAarsag = `Aften/nat mode (${time}:00)`;\n    node.warn(`\ud83d\udd0b Aften/nat (16-06) \u2192 Afladning 100%`);\n}\n\nglobal.set('growatt_kommando', workMode);\nglobal.set('discharge_rate', dischargeRate);\n\nnode.warn(`\u26a1 Growatt: ${workMode} | Discharge: ${dischargeRate}%`);\n\n// Log event hvis discharge \u00e6ndret sig\nconst sidsteDischarge = global.get('sidste_discharge_rate');\nlet eventMsg = null;\n\nif (sidsteDischarge !== dischargeRate) {\n    global.set('sidste_discharge_rate', dischargeRate);\n    eventMsg = {\n        payload: {\n            event: 'discharge_skift',\n            beskrivelse: `Discharge ${sidsteDischarge !== undefined ? sidsteDischarge : '?'}% \u2192 ${dischargeRate}% (${dischargeAarsag})`\n        }\n    };\n    node.warn(`\ud83d\udcdd Event: Discharge skift ${sidsteDischarge}% \u2192 ${dischargeRate}%`);\n}\n\nmsg.payload = workMode;\nmsg.topic = 'solar_assistant/inverter_1/work_mode_priority/set';\n\nmsg.discharge = {\n    payload: dischargeRate.toString(),\n    topic: 'solar_assistant/inverter_1/free_mode_discharge_rate/set'\n};\n\nreturn [msg, eventMsg];", "outputs": 2, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 170, "y": 280, "wires": [["growatt-mqtt-out", "1d100672826f583b"], ["gem-event"]]}, {"id": "growatt-mqtt-out", "type": "mqtt out", "z": "d2c1c437030fcf3d", "name": "Growatt MQTT", "topic": "", "qos": "1", "retain": false, "respTopic": "", "contentType": "", "userProps": "", "correl": "", "expiry": "", "broker": "0700ed4de89194aa", "x": 160, "y": 460, "wires": []}, {"id": "1d100672826f583b", "type": "function", "z": "d2c1c437030fcf3d", "name": "Discharge rate", "func": "msg.payload = msg.discharge.payload;\nmsg.topic = msg.discharge.topic;\nreturn msg;", "outputs": 1, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 160, "y": 380, "wires": [["growatt-mqtt-out"]]}, {"id": "override-api", "type": "http in", "z": "d2c1c437030fcf3d", "name": "Override API", "url": "/api/override", "method": "post", "upload": false, "skipBodyParsing": false, "swaggerDoc": "", "x": 430, "y": 240, "wires": [["override-handler"]]}, {"id": "override-handler", "type": "function", "z": "d2c1c437030fcf3d", "name": "Override handler", "func": "const aktiv = msg.payload.aktiv;\nlet eventMsg = null;\n\nif (aktiv) {\n    global.set('override_aktiv', true);\n    global.set('override_slut', null);\n    node.warn(`\ud83d\udea8 OVERRIDE AKTIV - k\u00f8rer indtil manuelt stop!`);\n    msg.payload = { success: true, besked: 'Override aktiv indtil manuelt stop' };\n    eventMsg = { payload: { event: 'override', beskrivelse: '\ud83d\udea8 Manuel override aktiveret - Tesla tvinges til 16A' } };\n} else {\n    global.set('override_aktiv', false);\n    global.set('override_slut', null);\n    node.warn('\u2705 Override deaktiveret');\n    msg.payload = { success: true, besked: 'Override deaktiveret' };\n    eventMsg = { payload: { event: 'override', beskrivelse: '\u2705 Manuel override deaktiveret' } };\n}\n\nreturn [msg, eventMsg];", "outputs": 2, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 680, "y": 240, "wires": [["override-svar"], ["gem-event"]]}, {"id": "override-svar", "type": "http response", "z": "d2c1c437030fcf3d", "name": "Override svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 930, "y": 240, "wires": []}, {"id": "override-status-api", "type": "http in", "z": "d2c1c437030fcf3d", "name": "Override status", "url": "/api/override/status", "method": "get", "x": 420, "y": 360, "wires": [["override-status-handler"]]}, {"id": "override-status-handler", "type": "function", "z": "d2c1c437030fcf3d", "name": "Override status handler", "func": "const aktiv = global.get('override_aktiv') || false;\n\nmsg.payload = { \n    aktiv, \n    minutterTilbage: aktiv ? 999 : 0 \n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 670, "y": 360, "wires": [["override-status-svar"]]}, {"id": "override-status-svar", "type": "http response", "z": "d2c1c437030fcf3d", "name": "Override status svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 920, "y": 360, "wires": []}, {"id": "go-e-status-timer", "type": "inject", "z": "d2c1c437030fcf3d", "name": "go-e status hvert min", "repeat": "60", "once": true, "onceDelay": 5, "x": 480, "y": 520, "wires": [["go-e-status-hent"]]}, {"id": "go-e-status-hent", "type": "http request", "z": "d2c1c437030fcf3d", "name": "Hent go-e status", "method": "GET", "ret": "obj", "url": "http://192.168.1.222/api/status", "x": 730, "y": 520, "wires": [["go-e-status-gem"]]}, {"id": "go-e-status-gem", "type": "function", "z": "d2c1c437030fcf3d", "name": "Gem go-e status", "func": "const car = msg.payload.car || 0;\nconst amp = msg.payload.amp || 0;\nconst wh = msg.payload.wh || 0;\n\nglobal.set('go_e_car', car);\nglobal.set('go_e_amp', amp);\nglobal.set('go_e_wh', wh);\n\nnode.warn(`\ud83d\udd0c go-e: car=${car} | amp=${amp}A | wh=${wh}`);\nreturn null;", "outputs": 1, "x": 980, "y": 520, "wires": [[]]}, {"id": "gem-event", "type": "function", "z": "d2c1c437030fcf3d", "name": "Gem event til InfluxDB", "func": "const event = msg.payload.event;\nconst beskrivelse = msg.payload.beskrivelse;\n\nif (!event) return null;\n\nconst lineProtocol = `events,type=${event.replace(/ /g,'_')} beskrivelse=\"${beskrivelse}\"`;\n\nmsg.payload = lineProtocol;\nmsg.headers = {\n    'Authorization': 'Token ' + env.get('INFLUX_TOKEN'),\n    'Content-Type': 'text/plain'\n};\nmsg.url = 'http://192.168.1.253:8086/api/v2/write?org=energihub&bucket=energi2&precision=s';\nreturn msg;", "outputs": 1, "x": 360, "y": 580, "wires": [["influx-event-write"]]}, {"id": "influx-event-write", "type": "http request", "z": "d2c1c437030fcf3d", "name": "Skriv event til InfluxDB", "method": "POST", "ret": "txt", "url": "", "x": 610, "y": 580, "wires": [[]]}, {"id": "event-log-api", "type": "http in", "z": "d2c1c437030fcf3d", "name": "Event log API", "url": "/api/events", "method": "get", "x": 110, "y": 640, "wires": [["event-log-handler"]]}, {"id": "event-log-handler", "type": "function", "z": "d2c1c437030fcf3d", "name": "Hent events", "func": "msg.payload = null;\nmsg.headers = {\n    'Authorization': 'Token ' + env.get('INFLUX_TOKEN'),\n    'Content-Type': 'application/vnd.flux',\n    'Accept': 'application/csv'\n};\nmsg.url = 'http://192.168.1.253:8086/api/v2/query?org=energihub';\nmsg.method = 'POST';\nmsg.payload = `from(bucket: \"energi2\") |> range(start: -30d) |> filter(fn: (r) => r._measurement == \"events\") |> sort(columns: [\"_time\"], desc: true) |> limit(n: 50)`;\nreturn msg;", "outputs": 1, "x": 360, "y": 640, "wires": [["event-log-svar-handler"]]}, {"id": "event-log-svar-handler", "type": "http request", "z": "d2c1c437030fcf3d", "name": "Hent events fra InfluxDB", "method": "POST", "ret": "txt", "url": "", "x": 360, "y": 700, "wires": [["event-log-svar"]]}, {"id": "event-log-svar", "type": "http response", "z": "d2c1c437030fcf3d", "name": "Event log svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 610, "y": 700, "wires": []}, {"id": "forbered-energi", "type": "function", "z": "77c2a9230595fbfa", "name": "Forbered energi data", "func": "const soc = global.get('batteri_soc') || 0;\nconst sol = global.get('sol_power') || 0;\nconst grid = global.get('grid_power') || 0;\nconst batteriPower = global.get('batteri_power') || 0;\nconst temp = global.get('batteri_temp') || 0;\nconst dischargeRate = global.get('discharge_rate') || 0;\nconst teslaLad = global.get('tesla_lad') || false;\nconst teslaAmp = global.get('tesla_amp') || 0;\nconst loadPower = global.get('load_power') || 0;\nconst nuvaerende = global.get('nuvaerende');\nconst pris = nuvaerende ? nuvaerende.pris : 0;\nconst spotpris = nuvaerende ? (nuvaerende.spotpris || 0) : 0;\nconst zone = nuvaerende ? nuvaerende.zone : 'ukendt';\nconst growattMode = global.get('growatt_kommando') || 'Load first';\n\n// Tjek om bil faktisk er tilsluttet\nconst goECar = global.get('go_e_car') || 1;\nconst bilTilsluttet = goECar > 1;\nconst laderAktivt = teslaLad && bilTilsluttet;\n\n// InfluxDB line protocol\nconst lineProtocol = `energi,zone=${zone},growatt_mode=${growattMode.replace(/ /g, '_')} batteri_soc=${Number(soc)},sol_power=${Number(sol)},grid_power=${Number(grid)},batteri_power=${Number(batteriPower)},batteri_temp=${Number(temp)},discharge_rate=${Number(dischargeRate)},tesla_lad=${laderAktivt ? 1 : 0},tesla_amp=${Number(teslaAmp)},load_power=${Number(loadPower)},pris=${Number(pris)},spotpris=${Number(spotpris)}`;\n\nmsg.payload = lineProtocol;\nmsg.headers = {\n    'Authorization': 'Token ' + env.get('INFLUX_TOKEN'),\n    'Content-Type': 'text/plain'\n};\nmsg.url = 'http://192.168.1.253:8086/api/v2/write?org=energihub&bucket=energi2&precision=s';\n\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 100, "wires": [["06268495f5b1fa18"]]}, {"id": "forbered-priser", "type": "function", "z": "77c2a9230595fbfa", "name": "Forbered prisdata", "func": "const priser = global.get('priser') || [];\nif (priser.length === 0) return null;\n\nconst nu = new Date();\nconst nuvaerende = priser.find(p => {\n    const t = new Date(p.time);\n    return t.getHours() === nu.getHours() && \n           t.getDate() === nu.getDate();\n});\n\nif (!nuvaerende) return null;\n\n// InfluxDB line protocol format\nconst lineProtocol = `strompris,zone=${nuvaerende.zone} pris=${Number(nuvaerende.pris)}`;\n\nmsg.payload = lineProtocol;\nmsg.headers = {\n'Authorization': 'Token ' + env.get('INFLUX_TOKEN'),    'Content-Type': 'text/plain'\n};\nmsg.url = 'http://192.168.1.253:8086/api/v2/write?org=energihub&bucket=energi2&precision=s';\n\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 160, "wires": [["8a378701d87f4749"]]}, {"id": "influx-timer", "type": "inject", "z": "77c2a9230595fbfa", "name": "Gem hvert minut", "repeat": "60", "crontab": "", "once": true, "onceDelay": 10, "topic": "", "payload": "", "payloadType": "date", "x": 150, "y": 100, "wires": [["forbered-energi", "forbered-priser"]]}, {"id": "21d842c9cbd00693", "type": "debug", "z": "77c2a9230595fbfa", "name": "debug 2", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 840, "y": 100, "wires": []}, {"id": "8a378701d87f4749", "type": "http request", "z": "77c2a9230595fbfa", "name": "", "method": "POST", "ret": "txt", "paytoqs": "ignore", "url": "", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 650, "y": 180, "wires": [["1b0185c7538b133b"]]}, {"id": "1b0185c7538b133b", "type": "debug", "z": "77c2a9230595fbfa", "name": "debug 3", "active": false, "tosidebar": true, "console": false, "tostatus": false, "complete": "false", "statusVal": "", "statusType": "auto", "x": 980, "y": 200, "wires": []}, {"id": "06268495f5b1fa18", "type": "http request", "z": "77c2a9230595fbfa", "name": "", "method": "POST", "ret": "txt", "paytoqs": "ignore", "url": "", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 650, "y": 100, "wires": [["21d842c9cbd00693"]]}, {"id": "bil-soc-api", "type": "http in", "z": "ced8b8b6adb174ea", "name": "S\u00e6t bil SOC", "url": "/api/bil/soc", "method": "post", "upload": false, "skipBodyParsing": false, "swaggerDoc": "", "x": 150, "y": 140, "wires": [["bil-soc-handler"]]}, {"id": "bil-soc-handler", "type": "function", "z": "ced8b8b6adb174ea", "name": "Gem bil SOC", "func": "const soc = parseFloat(msg.payload.soc);\nif (isNaN(soc) || soc < 0 || soc > 100) {\n    msg.payload = { success: false, besked: 'Ugyldig SOC v\u00e6rdi' };\n    return msg;\n}\nglobal.set('car_soc', soc);\nglobal.set('car_soc_opdateret', new Date().toISOString());\n// Gem go-e wh som nulpunkt for beregning\nglobal.set('car_soc_goe_wh_nulpunkt', global.get('go_e_wh') || 0);\nnode.warn(`\ud83d\ude97 Bil SOC sat til: ${soc}% (go-e nulpunkt: ${global.get('go_e_wh') || 0} Wh)`);\nmsg.payload = { success: true, soc, besked: `Bil SOC sat til ${soc}%` };\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 140, "wires": [["bil-soc-svar"]]}, {"id": "bil-soc-svar", "type": "http response", "z": "ced8b8b6adb174ea", "name": "Bil SOC svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 650, "y": 140, "wires": []}, {"id": "bil-soc-status-api", "type": "http in", "z": "ced8b8b6adb174ea", "name": "Hent bil SOC", "url": "/api/bil/soc", "method": "get", "x": 150, "y": 200, "wires": [["bil-soc-status-handler"]]}, {"id": "bil-soc-status-handler", "type": "function", "z": "ced8b8b6adb174ea", "name": "Bil SOC status", "func": "const gemtSoc = global.get('car_soc') || 50;\nconst opdateret = global.get('car_soc_opdateret') || null;\nconst goeWh = global.get('go_e_wh') || 0;\nconst nulpunkt = global.get('car_soc_goe_wh_nulpunkt') || goeWh;\n\n// Beregn tilf\u00f8jet % siden sidst kendte SOC\n// 60 kWh batteri = 60000 Wh = 100%, s\u00e5 1% = 600 Wh\nconst tilfoejt = Math.max(0, goeWh - nulpunkt);\nconst beregnetSoc = Math.min(100, Math.round(gemtSoc + (tilfoejt / 600)));\n\nnode.warn(`\ud83d\ude97 Bil SOC: gemt=${gemtSoc}% + ladet=${tilfoejt.toFixed(0)}Wh = beregnet=${beregnetSoc}%`);\n\nmsg.payload = { \n    soc: beregnetSoc, \n    opdateret,\n    gemt_soc: gemtSoc,\n    tilfoejt_kwh: parseFloat((tilfoejt / 1000).toFixed(2))\n};\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 400, "y": 200, "wires": [["bil-soc-status-svar"]]}, {"id": "bil-soc-status-svar", "type": "http response", "z": "ced8b8b6adb174ea", "name": "Bil SOC status svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 650, "y": 200, "wires": []}, {"id": "priser-real-api", "type": "http in", "z": "ced8b8b6adb174ea", "name": "Priser med afgifter", "url": "/api/priser/real", "method": "get", "x": 170, "y": 320, "wires": [["priser-real-handler"]]}, {"id": "priser-real-handler", "type": "function", "z": "ced8b8b6adb174ea", "name": "Returner priser med afgifter", "func": "const priser = global.get('priser') || [];\nmsg.payload = priser;\nreturn msg;", "outputs": 1, "x": 420, "y": 320, "wires": [["priser-real-svar"]]}, {"id": "priser-real-svar", "type": "http response", "z": "ced8b8b6adb174ea", "name": "Priser svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 670, "y": 320, "wires": []}, {"id": "telegram-send", "type": "function", "z": "ced8b8b6adb174ea", "name": "Send Telegram", "func": "const token = '8716129124:AAHP0rg0PFAEISe0Ml_KyW-AfrykHt_kEKQ';\nconst chatId = '8659008890';\nconst tekst = msg.payload;\n\nmsg.url = `https://api.telegram.org/bot${token}/sendMessage`;\nmsg.payload = { chat_id: chatId, text: tekst, parse_mode: 'HTML' };\nreturn msg;", "outputs": 1, "x": 460, "y": 400, "wires": [["telegram-http"]]}, {"id": "telegram-http", "type": "http request", "z": "ced8b8b6adb174ea", "name": "Telegram API", "method": "POST", "ret": "obj", "url": "", "x": 690, "y": 440, "wires": [[]]}, {"id": "alarm-check", "type": "function", "z": "ced8b8b6adb174ea", "name": "Alarm check", "func": "const soc = global.get('batteri_soc') || 0;\nconst carSoc = global.get('car_soc') || 50;\nconst overrideAktiv = global.get('override_aktiv') || false;\nconst nuvaerende = global.get('nuvaerende');\nconst sol = global.get('sol_power') || 0;\nconst go_e_car = global.get('go_e_car') || 1;\n\nconst beskeder = [];\n\n// Batteri kritisk lavt\nif (soc <= 15) {\n    const sidst = global.get('alarm_batteri_lavt') || 0;\n    if (Date.now() - sidst > 3600000) { // Max 1 gang per time\n        beskeder.push(`\u26a0\ufe0f Growatt batteri LAVT: ${soc}%`);\n        global.set('alarm_batteri_lavt', Date.now());\n    }\n}\n\n// Batteri fuldt - klar til dyre timer\nif (soc >= 95) {\n    const sidst = global.get('alarm_batteri_fuld') || 0;\n    if (Date.now() - sidst > 7200000) { // Max 1 gang per 2 timer\n        beskeder.push(`\u2705 Growatt batteri FULDT: ${soc}% - Klar til dyre timer!`);\n        global.set('alarm_batteri_fuld', Date.now());\n    }\n}\n\n// Bil tilsluttet\nif (go_e_car === 2 || go_e_car === 3) {\n    const sidst = global.get('alarm_bil_tilsluttet') || 0;\n    if (Date.now() - sidst > 3600000) {\n        beskeder.push(`\ud83d\ude97 King kong tilsluttet laderen!`);\n        global.set('alarm_bil_tilsluttet', Date.now());\n    }\n}\n\n// H\u00f8j sol produktion\nif (sol > 5000) {\n    const sidst = global.get('alarm_sol_hoj') || 0;\n    if (Date.now() - sidst > 7200000) {\n        beskeder.push(`\u2600\ufe0f H\u00f8j sol produktion: ${sol}W!`);\n        global.set('alarm_sol_hoj', Date.now());\n    }\n}\n\nif (beskeder.length === 0) return null;\n\nmsg.payload = beskeder.join('\\n');\nreturn msg;", "outputs": 1, "x": 190, "y": 380, "wires": [["telegram-send"]]}, {"id": "alarm-timer", "type": "inject", "z": "ced8b8b6adb174ea", "name": "Check hvert 5. min", "repeat": "300", "once": false, "x": 160, "y": 480, "wires": [["alarm-check"]]}, {"id": "daglig-rapport", "type": "inject", "z": "ced8b8b6adb174ea", "name": "Daglig rapport 08:00", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "00 08 * * *", "once": false, "onceDelay": "", "topic": "", "payload": "", "payloadType": "str", "x": 190, "y": 560, "wires": [["byg-rapport"]]}, {"id": "byg-rapport", "type": "function", "z": "ced8b8b6adb174ea", "name": "Byg daglig rapport", "func": "msg.url = 'http://192.168.1.253:3000/api/dagens-tal';\nmsg.method = 'GET';\nreturn msg;", "outputs": 1, "timeout": "", "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 440, "y": 560, "wires": [["cf47cf47aea112ae"]]}, {"id": "mqtt-pv-energy", "type": "mqtt in", "z": "ced8b8b6adb174ea", "name": "Sol energi total", "topic": "solar_assistant/total/pv_energy/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 940, "y": 140, "wires": [["gem-pv-energy"]]}, {"id": "mqtt-grid-in", "type": "mqtt in", "z": "ced8b8b6adb174ea", "name": "Net k\u00f8bt total", "topic": "solar_assistant/total/grid_energy_in/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 940, "y": 200, "wires": [["gem-grid-in"]]}, {"id": "mqtt-grid-out", "type": "mqtt in", "z": "ced8b8b6adb174ea", "name": "Net solgt total", "topic": "solar_assistant/total/grid_energy_out/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 940, "y": 260, "wires": [["gem-grid-out"]]}, {"id": "mqtt-load-energy", "type": "mqtt in", "z": "ced8b8b6adb174ea", "name": "Hus forbrug total", "topic": "solar_assistant/total/load_energy/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 940, "y": 320, "wires": [["gem-load-energy"]]}, {"id": "mqtt-bat-in", "type": "mqtt in", "z": "ced8b8b6adb174ea", "name": "Batteri ind total", "topic": "solar_assistant/total/battery_energy_in/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 940, "y": 380, "wires": [["gem-bat-in"]]}, {"id": "mqtt-bat-out", "type": "mqtt in", "z": "ced8b8b6adb174ea", "name": "Batteri ud total", "topic": "solar_assistant/total/battery_energy_out/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 940, "y": 440, "wires": [["gem-bat-out"]]}, {"id": "mqtt-load-power", "type": "mqtt in", "z": "ced8b8b6adb174ea", "name": "Hus forbrug W", "topic": "solar_assistant/inverter_1/load_power/state", "qos": "1", "datatype": "auto-detect", "broker": "0700ed4de89194aa", "nl": false, "rap": false, "inputs": 0, "x": 940, "y": 500, "wires": [["gem-load-power"]]}, {"id": "gem-pv-energy", "type": "function", "z": "ced8b8b6adb174ea", "name": "Gem sol energi", "func": "global.set('pv_energy_total', parseFloat(msg.payload));\nreturn null;", "outputs": 1, "x": 1210, "y": 140, "wires": [[]]}, {"id": "gem-grid-in", "type": "function", "z": "ced8b8b6adb174ea", "name": "Gem net k\u00f8bt", "func": "global.set('grid_energy_in', parseFloat(msg.payload));\nreturn null;", "outputs": 1, "x": 1210, "y": 200, "wires": [[]]}, {"id": "gem-grid-out", "type": "function", "z": "ced8b8b6adb174ea", "name": "Gem net solgt", "func": "global.set('grid_energy_out', parseFloat(msg.payload));\nreturn null;", "outputs": 1, "x": 1210, "y": 260, "wires": [[]]}, {"id": "gem-load-energy", "type": "function", "z": "ced8b8b6adb174ea", "name": "Gem hus forbrug", "func": "global.set('load_energy_total', parseFloat(msg.payload));\nreturn null;", "outputs": 1, "x": 1210, "y": 320, "wires": [[]]}, {"id": "gem-bat-in", "type": "function", "z": "ced8b8b6adb174ea", "name": "Gem batteri ind", "func": "global.set('battery_energy_in', parseFloat(msg.payload));\nreturn null;", "outputs": 1, "x": 1210, "y": 380, "wires": [[]]}, {"id": "gem-bat-out", "type": "function", "z": "ced8b8b6adb174ea", "name": "Gem batteri ud", "func": "global.set('battery_energy_out', parseFloat(msg.payload));\nreturn null;", "outputs": 1, "x": 1210, "y": 440, "wires": [[]]}, {"id": "gem-load-power", "type": "function", "z": "ced8b8b6adb174ea", "name": "Gem hus W", "func": "global.set('load_power', parseFloat(msg.payload));\nreturn null;", "outputs": 1, "x": 1210, "y": 500, "wires": [[]]}, {"id": "statistik-api", "type": "http in", "z": "ced8b8b6adb174ea", "name": "Statistik API", "url": "/api/statistik", "method": "get", "x": 170, "y": 660, "wires": [["statistik-handler"]]}, {"id": "statistik-handler", "type": "function", "z": "ced8b8b6adb174ea", "name": "Byg statistik", "func": "const pvEnergi = global.get('pv_energy_total') || 0;\nconst gridInd = global.get('grid_energy_in') || 0;\nconst gridUd = global.get('grid_energy_out') || 0;\nconst loadEnergi = global.get('load_energy_total') || 0;\nconst batInd = global.get('battery_energy_in') || 0;\nconst batUd = global.get('battery_energy_out') || 0;\nconst soc = global.get('batteri_soc') || 0;\nconst sol = global.get('sol_power') || 0;\nconst grid = global.get('grid_power') || 0;\nconst load = global.get('load_power') || 0;\nconst nuvaerende = global.get('nuvaerende');\nconst pris = nuvaerende ? nuvaerende.pris : 0;\nconst carSoc = global.get('car_soc') || 50;\n\n// Besparelsesberegning\n// Gennemsnitlig dansk elpris inkl afgifter ~2.50 kr/kWh\nconst gennemsnitsElpris = 2.50;\nconst sparetTotal = parseFloat(((pvEnergi - gridInd) * gennemsnitsElpris).toFixed(2));\n\n// Selvforsyningsgrad\nconst selvforsyning = loadEnergi > 0 ? parseFloat(((1 - gridInd / loadEnergi) * 100).toFixed(1)) : 0;\n\n// go-e data\nconst goEWh = global.get('go_e_wh') || 0;\nconst goEAmp = global.get('go_e_amp') || 0;\nconst goECar = global.get('go_e_car') || 1;\n\nmsg.payload = {\n    // Sol\n    pv_energy_total: pvEnergi,\n    sol_power_nu: sol,\n    \n    // Net\n    grid_energy_in: gridInd,\n    grid_energy_out: gridUd,\n    grid_power_nu: grid,\n    \n    // Hus\n    load_energy_total: loadEnergi,\n    load_power_nu: load,\n    \n    // Batteri\n    battery_energy_in: batInd,\n    battery_energy_out: batUd,\n    batteri_soc: soc,\n    \n    // Tesla\n    car_soc: carSoc,\n    go_e_wh_total: goEWh,\n    go_e_amp: goEAmp,\n    go_e_car: goECar,\n    \n    // Beregninger\n    sparet_total: sparetTotal,\n    selvforsyning: selvforsyning,\n    pris_nu: pris,\n    \n    timestamp: new Date().toISOString()\n};\nreturn msg;", "outputs": 1, "x": 420, "y": 660, "wires": [["statistik-svar"]]}, {"id": "statistik-svar", "type": "http response", "z": "ced8b8b6adb174ea", "name": "Statistik svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 670, "y": 660, "wires": []}, {"id": "test-notif-timer", "type": "inject", "z": "ced8b8b6adb174ea", "name": "Kl. 16:00 alarm", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "00 16 * * *", "once": false, "onceDelay": "", "topic": "", "payload": "", "payloadType": "str", "x": 960, "y": 580, "wires": [["byg-16-notif"]]}, {"id": "byg-16-notif", "type": "function", "z": "ced8b8b6adb174ea", "name": "Byg 16:00 besked", "func": "const soc = global.get('batteri_soc') || 0;\nconst sol = global.get('sol_power') || 0;\nconst dischargeRate = global.get('discharge_rate') || 0;\nconst pris = global.get('nuvaerende')?.pris || 0;\n\nmsg.payload = `\u2764\ufe0f Dyre timer startet!\\n\\n\ud83d\udd0b Growatt: ${soc}%\\n\u26a1 Discharge: ${dischargeRate}%\\n\u2600\ufe0f Sol: ${sol}W\\n\ud83d\udcb0 Pris: ${pris} kr/kWh\\n\\nSystemet bruger nu batteri + sol til huset!`;\nreturn msg;", "outputs": 1, "x": 1210, "y": 580, "wires": [["969ad2da2c958f57"]]}, {"id": "test-notif-21", "type": "inject", "z": "ced8b8b6adb174ea", "name": "Kl. 21:00 nat mode", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "00 21 * * *", "once": false, "onceDelay": "", "topic": "", "payload": "", "payloadType": "str", "x": 960, "y": 640, "wires": [["byg-21-notif"]]}, {"id": "byg-21-notif", "type": "function", "z": "ced8b8b6adb174ea", "name": "Byg 21:00 besked", "func": "const soc = global.get('batteri_soc') || 0;\nconst carSoc = global.get('car_soc') || 50;\nconst goECar = global.get('go_e_car') || 1;\n\nmsg.payload = `\ud83c\udf19 Nat mode aktiveret!\\n\\n\ud83d\udd0b Growatt: ${soc}%\\n\ud83d\ude97 King kong: ${carSoc}%\\n${goECar > 1 ? '\ud83d\udd0c Bil tilsluttet \u2705' : '\u274c Bil IKKE tilsluttet!'}\\n\\nSjekker billigste ladetimer...`;\nreturn msg;", "outputs": 1, "x": 1210, "y": 640, "wires": [["969ad2da2c958f57"]]}, {"id": "test-notif-06", "type": "inject", "z": "ced8b8b6adb174ea", "name": "Kl. 06:00 morgen", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "", "crontab": "00 06 * * *", "once": false, "onceDelay": "", "topic": "", "payload": "", "payloadType": "str", "x": 960, "y": 700, "wires": [["byg-06-notif"]]}, {"id": "byg-06-notif", "type": "function", "z": "ced8b8b6adb174ea", "name": "Byg 06:00 besked", "func": "const soc = global.get('batteri_soc') || 0;\nconst carSoc = global.get('car_soc') || 50;\nconst sol = global.get('sol_power') || 0;\nconst nuvaerende = global.get('nuvaerende');\nconst pris = nuvaerende ? nuvaerende.pris : 0;\n\nconst bilKlar = carSoc >= 95 ? '\u2705' : '\u26a0\ufe0f';\n\nmsg.payload = `\ud83c\udf05 God morgen Christopher!\\n\\n${bilKlar} King kong: ${carSoc}%\\n\ud83d\udd0b Growatt: ${soc}%\\n\u2600\ufe0f Sol: ${sol}W\\n\ud83d\udcb0 Pris nu: ${pris} kr/kWh\\n\\n${carSoc < 95 ? '\u26a0\ufe0f Bilen er ikke fuldt opladet!' : '\u2705 Bilen er klar til turen!'}`;\nreturn msg;", "outputs": 1, "x": 1210, "y": 700, "wires": [["969ad2da2c958f57"]]}, {"id": "bil-tilsluttet-check", "type": "function", "z": "ced8b8b6adb174ea", "name": "Bil tilsluttet check", "func": "const goECar = global.get('go_e_car') || 1;\nconst sidsteCar = global.get('go_e_car_sidst') || 1;\n\n// Bil netop tilsluttet?\nif (goECar > 1 && sidsteCar === 1) {\n    const carSoc = global.get('car_soc') || 50;\n    const sol = global.get('sol_power') || 0;\n    const soc = global.get('batteri_soc') || 0;\n    msg.payload = `\ud83d\ude97 King kong er tilsluttet laderen!\\n\\n\ud83d\udd0b Bil SOC: ${carSoc}%\\n\ud83d\udd0b Growatt: ${soc}%\\n\u2600\ufe0f Sol: ${sol}W\\n\\n${soc >= 100 && sol > 1200 ? '\u26a1 Lader via sol overskud!' : '\u23f3 Venter p\u00e5 billigste ladetimer'}`;\n    global.set('go_e_car_sidst', goECar);\n    return msg;\n}\n\nglobal.set('go_e_car_sidst', goECar);\nreturn null;", "outputs": 1, "x": 1210, "y": 760, "wires": [["969ad2da2c958f57"]]}, {"id": "bil-check-timer", "type": "inject", "z": "ced8b8b6adb174ea", "name": "Check bil hvert min", "props": [{"p": "payload"}, {"p": "topic", "vt": "str"}], "repeat": "60", "crontab": "", "once": true, "onceDelay": "", "topic": "", "payload": "", "payloadType": "str", "x": 960, "y": 760, "wires": [["bil-tilsluttet-check"]]}, {"id": "969ad2da2c958f57", "type": "function", "z": "ced8b8b6adb174ea", "name": "Send Telegram", "func": "const token = '8716129124:AAHP0rg0PFAEISe0Ml_KyW-AfrykHt_kEKQ';\nconst chatId = '8659008890';\nconst tekst = msg.payload;\n\nmsg.url = `https://api.telegram.org/bot${token}/sendMessage`;\nmsg.payload = { chat_id: chatId, text: tekst, parse_mode: 'HTML' };\nreturn msg;", "outputs": 1, "x": 1420, "y": 660, "wires": [["ae32692d6a193525"]]}, {"id": "ae32692d6a193525", "type": "http request", "z": "ced8b8b6adb174ea", "name": "Telegram API", "method": "POST", "ret": "obj", "url": "", "x": 1510, "y": 760, "wires": [[]]}, {"id": "vejr-api", "type": "http in", "z": "ced8b8b6adb174ea", "name": "Vejr API", "url": "/api/vejr", "method": "get", "x": 150, "y": 760, "wires": [["vejr-handler"]]}, {"id": "vejr-handler", "type": "function", "z": "ced8b8b6adb174ea", "name": "Byg vejr svar", "func": "msg.payload = {\n    tekst: global.get('vejr_tekst') || 'ukendt',\n    tempMin: global.get('vejr_temp_min'),\n    tempMax: global.get('vejr_temp_max'),\n    skyer: global.get('vejr_skyer'),\n    solPotentiale: global.get('vejr_sol_potentiale') || ''\n};\nreturn msg;", "outputs": 1, "x": 400, "y": 760, "wires": [["vejr-svar"]]}, {"id": "vejr-svar", "type": "http response", "z": "ced8b8b6adb174ea", "name": "Vejr svar", "statusCode": "200", "headers": {"Content-Type": "application/json"}, "x": 650, "y": 760, "wires": []}, {"id": "cf47cf47aea112ae", "type": "http request", "z": "ced8b8b6adb174ea", "name": "Hent dagens tal", "method": "GET", "ret": "obj", "paytoqs": "ignore", "url": "http://192.168.1.253:3000/api/dagens-tal", "tls": "", "persist": false, "proxy": "", "insecureHTTPParser": false, "authType": "", "senderr": false, "headers": [], "x": 660, "y": 560, "wires": [["aa99c999295283cc"]]}, {"id": "aa99c999295283cc", "type": "function", "z": "ced8b8b6adb174ea", "name": "Byg rapport fra API", "func": "const data = msg.payload;\nconst soc = global.get('batteri_soc') || 0;\nconst carSoc = global.get('car_soc') || 50;\nconst vejrTekst = global.get('vejr_tekst') || 'ukendt';\nconst vejrMin = global.get('vejr_temp_min') || '?';\nconst vejrMax = global.get('vejr_temp_max') || '?';\n\nif (!data || data.fejl) {\n    msg.payload = '\ud83d\udcca <b>Daglig rapport</b>\\n\\nKunne ikke hente data fra API';\n    return msg;\n}\n\nmsg.payload = '\ud83d\udcca <b>Daglig energi rapport</b>\\n\\n' +\n    '\u2600\ufe0f Sol produceret: ' + data.dagens_sol_kwh + ' kWh\\n' +\n    '\ud83d\udd0c K\u00f8bt fra net: ' + data.dagens_grid_kob_kwh + ' kWh (' + data.dagens_grid_kob_kr + ' kr)\\n' +\n    '\ud83d\udce4 Solgt til net: ' + data.dagens_grid_solgt_kwh + ' kWh\\n' +\n    '\u2b06\ufe0f Batteri ladet: ' + data.dagens_batteri_ind_kwh + ' kWh\\n' +\n    '\u2b07\ufe0f Batteri afladet: ' + data.dagens_batteri_ud_kwh + ' kWh\\n' +\n    '\ud83d\ude97 Tesla ladet: ' + data.dagens_tesla_kwh + ' kWh\\n' +\n    '\ud83d\udcb0 Sparet i dag: ' + data.sparet_i_dag + ' kr\\n' +\n    '\ud83d\udcca Selvforsyning: ' + data.selvforsyning_i_dag + '%\\n\\n' +\n    '\ud83d\udd0b Growatt nu: ' + soc + '%\\n' +\n    '\ud83d\ude97 King kong: ' + carSoc + '%\\n' +\n    '\ud83c\udf24\ufe0f Vejr: ' + vejrTekst + ' ' + vejrMin + '-' + vejrMax + '\u00b0C';\nreturn msg;", "outputs": 1, "timeout": 0, "noerr": 0, "initialize": "", "finalize": "", "libs": [], "x": 510, "y": 500, "wires": [["telegram-send"]]}, {"id": "tg_poll_inject", "type": "inject", "name": "Poll Telegram hvert min", "repeat": "60", "crontab": "", "once": true, "onceDelay": 5, "z": "ced8b8b6adb174ea", "x": 120, "y": 500, "wires": [["tg_get_updates"]]}, {"id": "tg_get_updates", "type": "function", "name": "Hent Telegram beskeder", "func": "const offset = global.get('tg_offset') || 0;\nmsg.payload = {};\nmsg.params = { offset: offset, timeout: 0 };\nreturn msg;", "z": "ced8b8b6adb174ea", "x": 340, "y": 500, "wires": [["tg_http_get"]]}, {"id": "tg_http_get", "type": "http request", "name": "Telegram getUpdates", "method": "GET", "ret": "obj", "url": "https://api.telegram.org/bot8716129124:AAHP0rg0PFAEISe0Ml_KyW-AfrykHt_kEKQ/getUpdates?offset={{{payload.offset}}}&timeout=0", "z": "ced8b8b6adb174ea", "x": 560, "y": 500, "wires": [["tg_parse"]]}, {"id": "tg_parse", "type": "function", "name": "Parse Telegram besked", "func": "const result = msg.payload;\nif (!result || !result.ok || !result.result || result.result.length === 0) {\n    return null;\n}\n\nconst msgs = [];\nfor (const update of result.result) {\n    // Opdater offset s\u00e5 vi ikke f\u00e5r samme besked igen\n    const newOffset = update.update_id + 1;\n    const currentOffset = global.get('tg_offset') || 0;\n    if (newOffset > currentOffset) {\n        global.set('tg_offset', newOffset);\n    }\n\n    const text = update.message ? update.message.text : null;\n    const chatId = update.message ? update.message.chat.id : null;\n\n    if (!text || !chatId) continue;\n\n    // Tjek om det er et tal (bil SOC)\n    const trimmed = text.trim().replace('%', '');\n    const soc = parseFloat(trimmed);\n\n    if (!isNaN(soc) && soc >= 0 && soc <= 100) {\n        msgs.push({ type: 'soc', soc: Math.round(soc), chatId });\n    }\n}\n\nif (msgs.length === 0) return null;\n\n// Behandl f\u00f8rste gyldige besked\nconst m = msgs[0];\nif (m.type === 'soc') {\n    msg.payload = { soc: m.soc, chatId: m.chatId };\n    return msg;\n}\nreturn null;", "z": "ced8b8b6adb174ea", "x": 780, "y": 500, "wires": [["tg_gem_soc"]]}, {"id": "tg_gem_soc", "type": "function", "name": "Gem SOC og svar", "func": "const soc = msg.payload.soc;\nconst chatId = msg.payload.chatId;\n\n// Gem SOC\nglobal.set('car_soc', soc);\nglobal.set('car_soc_opdateret', new Date().toISOString());\nglobal.set('car_soc_goe_wh_nulpunkt', global.get('go_e_wh') || 0);\n\nnode.warn('\ud83d\ude97 Telegram: Bil SOC opdateret til ' + soc + '%');\n\n// Beregn ladeplan\nconst priser = global.get('priser') || [];\nconst nu = new Date();\nconst TESLA_KWH = 60;\nconst TESLA_MAX_KW = 11;\nconst DEADLINE_TIME = 6;\nconst manglerKwh = Math.max(0, (100 - soc) * (TESLA_KWH / 100));\nconst timerNodvendige = Math.ceil(manglerKwh / TESLA_MAX_KW);\n\nconst deadline = new Date(nu);\ndeadline.setHours(DEADLINE_TIME, 0, 0, 0);\nif (deadline <= nu) deadline.setDate(deadline.getDate() + 1);\n\nconst kommende = priser.filter(p => {\n    const t = new Date(p.time);\n    return t > nu && t <= deadline;\n});\n\nconst billigste = [...kommende]\n    .sort((a, b) => a.pris - b.pris)\n    .slice(0, timerNodvendige)\n    .sort((a, b) => new Date(a.time) - new Date(b.time));\n\nlet ladeTekst = '';\nif (manglerKwh === 0) {\n    ladeTekst = 'Bilen er allerede fuldt opladet!';\n} else if (billigste.length > 0) {\n    const startTid = new Date(billigste[0].time).toLocaleTimeString('da-DK', {hour:'2-digit', minute:'2-digit'});\n    const slutTid = new Date(new Date(billigste[billigste.length-1].time).getTime() + 3600000).toLocaleTimeString('da-DK', {hour:'2-digit', minute:'2-digit'});\n    const snit = (billigste.reduce((a,b) => a + b.pris, 0) / billigste.length).toFixed(2);\n    ladeTekst = 'Planlagt ladning: ' + startTid + ' - ' + slutTid + '\\nSnitpris: ' + snit + ' kr/kWh\\nMangler: ' + manglerKwh.toFixed(0) + ' kWh (' + timerNodvendige + 't)';\n} else {\n    ladeTekst = 'Ingen billige timer fundet inden 06:00';\n}\n\nconst token = '8716129124:AAHP0rg0PFAEISe0Ml_KyW-AfrykHt_kEKQ';\nconst svar = '\u2705 Bil SOC opdateret til ' + soc + '%\\n\\n\ud83d\ude97 Mangler: ' + manglerKwh.toFixed(0) + ' kWh\\n\\n' + ladeTekst;\n\nmsg.url = 'https://api.telegram.org/bot' + token + '/sendMessage';\nmsg.payload = { chat_id: chatId, text: svar };\nreturn msg;", "z": "ced8b8b6adb174ea", "x": 1000, "y": 500, "wires": [["tg_svar_api"]]}, {"id": "tg_svar_api", "type": "http request", "name": "Send Telegram svar", "method": "POST", "ret": "obj", "url": "", "z": "ced8b8b6adb174ea", "x": 1220, "y": 500, "wires": [[]]}]